/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  color: #333;
  font-family: 'Source Sans Pro';
}
a {
  color: #333;
  text-decoration: none;
}
.highlight {
  color: #fff;
  background: #333;
}
.hover {
  background: #eee;
}
.mobile-ss-cover-lowlight {
  background: rgba(0, 0, 0, 0.85);
}
.mobile-text-box-lowlight {
  background: rgba(255, 255, 255, 0.95);
}
.mobile-text-box-highlight {
  background: #fff;
}
/* End Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Type Scale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-size: 31px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 17px;
}
body {
  font-size: 13px;
}
/* End Type Scale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#bar {
  width: 100%;
  height: 5px;
  background: #000;
  position: fixed;
  z-index: 1;
}
/* End Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Primary Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sidebar {
  height: 600px;
  width: 300px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  display: inline-block;
  vertical-align: top;
  position: fixed;
}
#sidebar #my-name {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -5px;
}
#sidebar #my-name:hover {
  color: #fff;
  background: #333;
}
#sidebar #job-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  margin-top: -25px;
}
#sidebar #table-of-contents {
  margin-top: 100px;
  padding-left: 40px;
}
#sidebar #table-of-contents .table-of-contents-title {
  font-weight: 900;
}
#sidebar #table-of-contents .table-of-contents-text {
  display: inline-block;
  width: 100%;
  padding: 2px 0;
}
.content {
  margin-left: 300px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #bbb;
}
.content .content-link a:link {
  color: blue;
}
.content .content-link a:visited {
  color: purple;
}
.content .content-link a:active {
  color: blue;
}
.content .content-text {
  margin-bottom: 20px;
}
.content img {
  border: 1px solid #bbb;
  vertical-align: top;
  max-width: 250px;
  max-height: 500px;
  margin-right: 7px;
  margin-bottom: 10px;
}
/* End Primary Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Mobile Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#mobile-layout {
  margin: 0px 20px 20px 20px;
  text-align: center;
}
#mobile-layout #mobile-my-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  padding: 0 5px;
}
#mobile-layout #mobile-my-name:hover {
  color: #fff;
  background: #333;
}
#mobile-layout #mobile-job-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  text-align: center;
  margin-top: -20px;
}
#mobile-layout #menu-toggle {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  padding-bottom: 2px;
  border: 1px solid #bbb;
}
#mobile-layout #menu-toggle:hover {
  color: #fff;
  background: #333;
}
#mobile-layout #menu-toggle:hover #menu-icon {
  color: #fff;
}
#mobile-layout #actual-menu {
  display: none;
  border: 1px solid #bbb;
  margin-top: -1px;
}
#mobile-layout #actual-menu .menu-title {
  font-weight: 900;
}
#mobile-layout #actual-menu .menu-project,
#mobile-layout #actual-menu .menu-link {
  display: inline-block;
  width: 100%;
  padding: 2px 0;
}
#mobile-layout #actual-menu .menu-project:hover,
#mobile-layout #actual-menu .menu-link:hover {
  color: #fff;
  background: #333;
}
#mobile-layout #mobile-icon-set {
  text-align: right;
  margin-top: 20px;
}
#mobile-layout #mobile-icon-set .mobile-icons {
  font-size: 17px;
  padding: 5px;
  display: inline-block;
  border-radius: 7.5%;
}
#mobile-layout #mobile-icon-set .mobile-icons:hover {
  color: #fff;
  background: #333;
}
#mobile-layout #mobile-screenshot-container {
  margin-top: 20px;
}
#mobile-layout #mobile-screenshot-container .mobile-screenshot {
  width: 100%;
  height: 175px;
  display: inline-block;
  background: #ccc;
  border: 1px solid #bbb;
  margin-bottom: 20px;
}
#mobile-layout #mobile-screenshot-container #mobile-ss-bmi-1 {
  background-image: url('screenshots/thumbs/bmi_1.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-bmi-2 {
  background-image: url('screenshots/thumbs/bmi_2.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-color-time {
  background-image: url('screenshots/thumbs/color-time.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-craigslist {
  background-image: url('screenshots/thumbs/craigslist.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-food-drink {
  background-image: url('screenshots/thumbs/food_drink.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-grooveshark {
  background-image: url('screenshots/thumbs/grooveshark.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-refindlist {
  background-image: url('screenshots/thumbs/refindlist.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-vimeo {
  background-image: url('screenshots/thumbs/vimeo.jpg');
}
#mobile-layout #mobile-screenshot-container #mobile-ss-bmi-1,
#mobile-layout #mobile-screenshot-container #mobile-ss-bmi-2,
#mobile-layout #mobile-screenshot-container #mobile-ss-color-time,
#mobile-layout #mobile-screenshot-container #mobile-ss-craigslist,
#mobile-layout #mobile-screenshot-container #mobile-ss-food-drink,
#mobile-layout #mobile-screenshot-container #mobile-ss-grooveshark,
#mobile-layout #mobile-screenshot-container #mobile-ss-refindlist,
#mobile-layout #mobile-screenshot-container #mobile-ss-vimeo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#mobile-layout #mobile-screenshot-container .mobile-ss-cover {
  width: inherit;
  height: inherit;
}
#mobile-layout #mobile-screenshot-container .mobile-ss-cover:hover {
  background: rgba(0, 0, 0, 0.85);
}
#mobile-layout #mobile-screenshot-container .mobile-ss-cover-text {
  text-align: left;
}
#mobile-layout #mobile-screenshot-container .mobile-ss-cover-text .mobile-ss-cover-text-box {
  display: inline-block;
  padding: 20px;
}
#mobile-layout #mobile-screenshot-container .mobile-ss-cover-text .mobile-ss-cover-text-box .mobile-ss-cover-text-title {
  font-size: 17px;
  font-weight: 700;
}
#mobile-layout .mobile-content p.content-link a:link {
  color: blue;
}
#mobile-layout .mobile-content p.content-link a:visited {
  color: purple;
}
#mobile-layout .mobile-content p.content-link a:active {
  color: blue;
}
#mobile-layout .mobile-content .mobile-content-text {
  margin-bottom: 20px;
}
#mobile-layout .mobile-content img {
  border: 1px solid #bbb;
  max-width: 100%;
  max-height: 500px;
  margin-right: 7px;
  margin-bottom: 10px;
}
/* End Mobile Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen {
  
}
@media screen and (max-width: 616px) {
  #sidebar,
  #demo,
  .content {
    display: none;
  }
  .mobile-content .justify {
    text-align: justify;
    display: block;
  }
}
@media screen and (min-width: 617px) {
  #mobile-layout {
    display: none;
  }
}
/* End Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
