/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	color: #333;
	font-family: 'Source Sans Pro';
}

a {
	color: #333;
	text-decoration: none;
}

.display {}
.highlight {
	color: #fff;
	background: #333;
}
.hover {
	background: #eee;
}
.hover-mixin() {
	&:hover {
		color: #fff;
		background: #333;		
	}
}
.list-title-mixin() {
	font-weight: 900;
}
.list-text-mixin() {
	display: inline-block;
	width: 100%;
	padding: 2px 0;
}
.mobile-ss-cover-lowlight {
	background: hsla(0,0,0,.85);
}
.mobile-text-box-lowlight {
	background: hsla(0,0,100%,.95);
}
.mobile-text-box-highlight {
	background: #fff;
}
/* End Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Type Scale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@type_h1: 31px;
@type_h2: 23px;
@type_h3: 17px;
h1 {
	font-size: @type_h1;
}
h2 {
	font-size: @type_h2;
}
h3 {
	font-size: @type_h3;
}
body {
	font-size: 13px;
}
/* End Type Scale
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#bar {
	width: 100%;
	height: 5px;
	background: #000;
	position: fixed;
	z-index: 1;
}
/* End Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Primary Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@sidebar_height: 600px;
@sidebar_width: 300px;
#sidebar {
	height: @sidebar_height;
	width: @sidebar_width;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	display: inline-block;
	vertical-align: top;
	position: fixed;

	#my-name {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: -5px;
		.hover-mixin;
	}
	#job-title {
		text-transform: uppercase;
		font-weight: 700;
		color: #999;
		margin-top: -25px;
	}

	#table-of-contents {
		margin-top: 100px;
		padding-left: 40px;
		.table-of-contents-title {
			.list-title-mixin;
		}
		.table-of-contents-text {
			.list-text-mixin;
		}
	}
}
.content {
	margin-left: @sidebar_width;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #bbb;
	.content-link a {
		&:link { 
			color: blue;
		}
		&:visited {
			color: purple;
		}
		&:active {
			color: blue;
		}
	}
	.content-text {
		margin-bottom: 20px;
	}
	img {
		border: 1px solid #bbb;
		vertical-align: top;
		max-width: 250px;
		max-height: 500px;
		margin-right: 7px;
		margin-bottom: 10px;
	}
}
/* End Primary Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#mobile-layout {
	margin: 0px 20px 20px 20px;
	text-align: center;
	#mobile-my-name {
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
		display: inline-block;
		padding: 0 5px;
		.hover-mixin;
	}
	#mobile-job-title {
		text-transform: uppercase;
		font-weight: 700;
		color: #999;
		text-align: center;
		margin-top: -20px;
	}
	#menu-toggle {
		display: block;
		text-align: center;
		margin-top: 20px;
		font-weight: 600;
		padding-bottom: 2px;
		border: 1px solid #bbb;
		&:hover {
			.highlight;
			#menu-icon {
				color: #fff;
			}
		}
	}
	#actual-menu {
		display: none;
		border: 1px solid #bbb;
		margin-top: -1px;
		.menu-title {
			.list-title-mixin;
		}
		.menu-project, .menu-link {			
			.list-text-mixin;
			.hover-mixin;
		}
	}
	
	#mobile-icon-set {
		text-align: right;
		margin-top: 20px;
		.mobile-icons {
			font-size: @type_h3;
			padding: 5px;
			display: inline-block;
			.hover-mixin;
			border-radius: 7.5%;
		}
	}

	#mobile-screenshot-container {
		margin-top: 20px;
		.mobile-screenshot {
			width: 100%;
			height: 175px;
			display: inline-block;
			background: #ccc;
			border: 1px solid #bbb;
			margin-bottom: 20px;
		}
		#mobile-ss-bmi-1 {
			background-image: url('screenshots/thumbs/bmi_1.jpg');
		}
		#mobile-ss-bmi-2 {
			background-image: url('screenshots/thumbs/bmi_2.jpg');
		}
		#mobile-ss-color-time {
			background-image: url('screenshots/thumbs/color-time.jpg');
		}
		#mobile-ss-craigslist {
			background-image: url('screenshots/thumbs/craigslist.jpg');
		}
		#mobile-ss-food-drink {
			background-image: url('screenshots/thumbs/food_drink.jpg');
		}
		#mobile-ss-grooveshark {
			background-image: url('screenshots/thumbs/grooveshark.jpg');
		}
		#mobile-ss-refindlist {
			background-image: url('screenshots/thumbs/refindlist.jpg');
		}
		#mobile-ss-vimeo {
			background-image: url('screenshots/thumbs/vimeo.jpg');
		}
		#mobile-ss-bmi-1,
		#mobile-ss-bmi-2,
		#mobile-ss-color-time,
		#mobile-ss-craigslist,
		#mobile-ss-food-drink,
		#mobile-ss-grooveshark,
		#mobile-ss-refindlist,
		#mobile-ss-vimeo {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		.mobile-ss-cover {
			width: inherit;
			height: inherit;
			&:hover {
				background: hsla(0,0,0,.85);
			}
		}
		.mobile-ss-cover-text {
			text-align: left;
			.mobile-ss-cover-text-box {
				display: inline-block;
				padding: 20px;
				.mobile-ss-cover-text-title {
					font-size: @type_h3;
					font-weight: 700;
				}
			}			
		}
	}
	.mobile-content {
		p.content-link a {
			&:link { 
				color: blue;
			}
			&:visited {
				color: purple;
			}
			&:active {
				color: blue;
			}
		}
		.mobile-content-text {
			margin-bottom: 20px;
		}
		img {
			border: 1px solid #bbb;
			max-width: 100%;
			max-height: 500px;
			margin-right: 7px;
			margin-bottom: 10px;
		}
	}
}
/* End Mobile Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen {
	@media (max-width: 616px) {
		#sidebar, #demo, .content {
			display: none;
		}
		.mobile-content {
			.justify {
				text-align: justify;
				display: block;
			}
		}
	}

	@media (min-width: 617px) {
		#mobile-layout {
			display: none;
		}
	}
}
/* End Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */