@craigslist_color: #582985;
@light_gray: #F4F4F4;
@body_copy_color: #000;
@body_copy_size: 12px;
@body_copy_web_type: 'Arial';
@body_copy_print_type: 'Helvetica';
@header_copy_print_type1: 'Times New Roman';
@header_copy_print_type2: 'Helvetica';

body {
	font-family: @body_copy_web_type;
	text-rendering: optimizeLegibility;

	#site_box_model {
		padding: 0 27px 0 42px;
	}
}

a:link, a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
}

h1 {
	margin-bottom: 5px;

	#main_title {
		color: @craigslist_color;
		font-family: @header_copy_print_type1;
		margin-right: 5px;
	}

	#side_title {
		color: black;
		font-family: @header_copy_print_type2;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
	}
}

button, select {
	font-family: @body_copy_print_type;
	font-size: @body_copy_size;
}

#search_button {
	display: none;
}

.remove_padding {
	padding-left: 0;
	padding-right: 0;
}

#account_box_model {
	margin-top: 0;

	#first_button {
		margin-top: -2px;
	}

	button {
		margin-right: 5px;
		margin-bottom: -1px;
	}

	.button_info {
		width: 125px;
		color: @body_copy_color;
		font-size: @body_copy_size;
		display: inline-block;
	}
}

.category_box_model {
	margin-bottom: 10px;
	background-color: @light_gray;
}

#bottom_box_model {
	margin-bottom: 20px;

	.footer_element {
		display: inline-block;
		margin-right: -5px;
		margin-bottom: -1px;
	}
}

ul {
	list-style: none;
	padding-left: 0px;

	li {
		display: inline-block;
		font-size: @body_copy_size;
		width: 171px;
		margin-top: 0px;

		a {
			color: @body_copy_color;

			&:hover {
				cursor: pointer;
			}

			&:visited {
				color: #2A6496;
			}
		}
	}
}