body {
	background-color: #333;
	color: #fff;
}

header {
	h1, h5 {
		font-weight: bold;
		color: #fff;
	}
}

input {
	text-align: center;
	color: #333;
}

#button_box {
	margin-top: 20px;

	#english_button, #metric_button {
		&:focus, &:active {
			outline: none;
		}
	}
}

#input_box {
	margin-top: 20px;

	#metric_units {
		display: none;
	}
}

#submit_box {
	margin-top: 20px;
	
	#submit_button {
		width: 200px;
		font-weight: bold;
		font-size: 21px;
	}
}

#result, #status {
	font-weight: bold;
	color: #fff;
}

#result {
	margin-bottom: -20px;
}

#status {
	margin-bottom: 10px;
}