<div>
	<h3>About Me</h3>
	<p>I enjoy back-end Java development.</p>
	<p>I like Play Framework 2.</p>
	<p>
		Location:<br>
		Northern California, USA — Placer County
	</p>
	<p>
		Strengths:<br>
		• Statically-typed languages like Java<br>
		• Logic + rational thinking<br>
	</p>
	<p>
		Weaknesses:<br>
		• Design + Front-end<br>
		• JavaScript + JavaScript Frameworks
	</p>
	<p>
		Education:<br>
		B.S. in Computer Science
	</p>
	<p>
		Recent Languages / Tools / Technologies:<br>
		Java SE 8 + SQL (Postgres) + Play Framework 2 + IntelliJ IDEA + Less + Nginx + jQuery + Sublime Text
	</p>
	<p>
		Past Languages / Tools / Technologies:<br>
		PHP5 + R + Lisp + Prolog + C + C++ + Yii Framework 2 + MySQL/MariaDB + Apache Web Server
	</p>
	<p>
		Goals:<br>
		• Become a software engineer<br>
		• Improve and get better at designing software
	</p>
</div>