<div class='content-text'>
	<h3>BMI Calculator</h3>
	<p class='content-link'><a href='http://robertknight.bitbucket.org/bmi_calculator/'>robertknight.bitbucket.org/bmi_calculator</a></p>
	<p>A body mass index calculator built with jQuery.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			I have worked with jQuery prior and I wanted to make something interesting, so I decided to make a BMI calculator with support for English and metric units.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less
	</p>
</div>
<img alt='BMI Calculator' src='screenshots/bmi_1.jpg'>