<div class='content-text'>
	<h3>BMI Calculator 2</h3>
	<p class='content-link'><a href='http://robertknight.bitbucket.org/bmi_calculator_angular/'>robertknight.bitbucket.org/bmi_calculator_angular</a></p>
	<p>A body mass index calculator built with AngularJS.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			I had been reading up on AngularJS, and I wanted to make a toy application. I decided to recreate my BMI calculator in Angular to see how developer-friendly Angular is, and to get a feel for the framework.<br>
			I do not plan on continuing to learn Angular for various reasons, and I have not listed it as a skill on my resume.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		AngularJS + Bootstrap + Less
	</p>
</div>
<img alt='BMI Calculator 2' src='screenshots/bmi_2.jpg'>