<div class='content-text'>
	<h3>Color and Time in Sync</h3>
	<p class='content-link'><a href='http://robertknight.bitbucket.org/color_and_time/'>robertknight.bitbucket.org/color_and_time</a></p>
	<p>When color and time work together.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			Based on the site,  <span class='content-link'><a href='http://thecolourclock.co.uk/'>The Colour Clock</a></span>, I wanted to make an imitation in order to practice, and refresh my knowledge of JavaScript. I implemented a small animation using a CSS3 transition. The animation can be seen when switching between portrait and landscape views on mobile.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap
	</p>
</div>
<img alt='Color and Time in Sync' src='screenshots/color-time_1.jpg'>
<img alt='Color and Time in Sync' src='screenshots/color-time_2.jpg'>
<img alt='Color and Time in Sync' src='screenshots/color-time_3.jpg'>
<img alt='Color and Time in Sync' src='screenshots/color-time_4.jpg'>