<div class='content-text'>
	<h3>craigslist REDESIGN</h3>
	<p class='content-link'><a href='http://robertknight.bitbucket.org/craigslist_redesign/'>robertknight.bitbucket.org/craigslist_redesign</a></p>
	<p>A responsive reimagining of the most popular classified.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			My goal was to implement Twitter Bootstrap's grid system in order to learn, and familiarize myself with the idea of grid systems for layout. I chose craigslist because I like using it, and I wish the site was responsive.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less
	</p>
</div>
<img alt='craigslist REDESIGN' src='screenshots/craigslist_1.jpg'>
<img alt='craigslist REDESIGN' src='screenshots/craigslist_2.jpg'>