<div class='content-text'>
	<h3>Food/Drink App</h3>
	<p class='content-link'><a href='https://eatdrinktime.com/'><div class='justify'>eatdrinktime.com</a> (offline) — I can reboot the server. It costs me money to leave it on.</div></p>
	<p>
		<div class='justify'>
			A database-driven web application with food and drinks. Built with Yii 2.
		</div>
	</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			A CRUD software application. Coming from Yii 1, Yii 2 feels like a natural evolution of the prior MVC web framework.<br>
			A user is allowed to submit a consumable item, and specify what time they would consume the item. In addition, users can submit images and vote on what time they would have a consumable item. Items can also be linked or associated with other items, creating a network of relationships between items.<br>
			Database access is composed of pure SQL or Yii 2's ORM depending on the complexity of the query.<br>
			Single sign-in and user accounts are handled by Mozilla Persona.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS + PHP
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less + Formspree + morris.js
	</p>
	<p>
		Back-end Tools:<br>
		PostgreSQL + Nginx + DigitalOcean VPS + Yii Framework 2 + SPDY + Mozilla Persona<br>
	</p>
</div>
<img alt='Food/Drink App' src='screenshots/food_drink_01.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_02.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_03.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_04.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_05.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_06.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_07.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_08.jpg'>
<img alt='Food/Drink App' src='screenshots/food_drink_09.jpg'>