<div class='content-text'>
	<h3>Grooveshark App</h3>
	<p style="border:1px solid #bbb; padding: 10px 10px">
		<span style="color:red">News:</span><br>
		Grooveshark shuts down to settle copyright infringement suit.<br><br>
		Date: April 30, 2015<br>
		Source: <span class='content-link'><a class='content-link' href='http://www.nytimes.com/2015/05/01/business/media/grooveshark-shuts-down-to-settle-copyright-infringement-suit.html'>The New York Times</a></span><br><br>
		As a result, my app will not work.
	</p>
	<p class='content-link'><a href='http://grooveshark-robert-knight.herokuapp.com/'>grooveshark-robert-knight.herokuapp.com</a></p>
	<p>Search Grooveshark for music. Requires Adobe Flash.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			I use Grooveshark's Tinysong API to pull music data. After processing the data client-side, I am able to display a playlist of songs that can be played in browsers with Adobe Flash installed.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less + Tinysong API + Ajax
	</p>
</div>
<img alt='Grooveshark App' src='screenshots/grooveshark.jpg'>