<div class='content-text'>
	<h3>refindlist</h3>
	<p class='content-link'><a href='http://refindlist.com/'>refindlist.com</a></p>
	<p>A front-end for craigslist.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			Inspired by the many "craigslist search engines," I designed one with a modern take on design.<br>
			I started with Bootstrap, and then I added styling, custom media queries, and Bootstrap extensions.<br><br>
			A large amount of time was spent on searching the web for good location data that would map to craigslist locations, and the location of a user. The data I did find had to be parsed into information which involved writing a short Java program to output a JSON formatted file for me.<br>
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less + Ajax + Google Custom Search Engine + APIs
	</p>
</div>
<img alt='Vimeo App' src='screenshots/refindlist_1.jpg'>
<img alt='Vimeo App' src='screenshots/refindlist_2.jpg'>