<div class='content-text'>
	<h3>Vimeo App</h3>
	<p class='content-link'><a href='http://vimeo-robert-knight.herokuapp.com/'>vimeo-robert-knight.herokuapp.com</a></p>
	<p>Search Vimeo for video.</p>
	<p>
		Synopsis:<br>
		<span class='justify'>
			I use Vimeo API to pull video data. After processing the data client-side, I am able to display a playlist of videos that can be played in HTML5-compliant browsers.
		</span>
	</p>
	<p>
		Markup and Languages:<br>
		HTML + CSS
	</p>
	<p>
		Front-end Tools:<br>
		jQuery + Bootstrap + Less + Vimeo API + Ajax
	</p>
</div>
<img alt='Vimeo App' src='screenshots/vimeo_1.jpg'>
<img alt='Vimeo App' src='screenshots/vimeo_2.jpg'>