@grooveshark_color: #F07A00;
@body_copy_web_type: 'Arial';
@header_copy_print_type: 'Helvetica';

body {
	text-rendering: optimizeLegibility;
	background-color: aliceblue;

	#site_box_model {
		padding: 0 42px;
	}
}

h1, h4 {
	font-family: @header_copy_print_type;
	font-weight: bold;
	font-style: italic;
}

h1 {
	color: @grooveshark_color;
	margin-bottom: -15px;
}

h4 {
	color: #555;
	margin-left: 106px;
}

form {
	#search_button, #remove_button {
		float: right;
	}

	input {
		text-rendering: optimizeLegibility;
		font-family: @body_copy_web_type;
		margin-bottom: -16px;
	}
}

#song_box {
	margin-top: 10px;

	.gs_player {
		width: 100%;
	}
}

a, a:visited, a:hover, a:focus, a:active,  {
	outline: none;
	text-decoration: none;
}