<!doctype html>
<html ng-app='bodyMassIndexApp' lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>

		<title>BMI Calculator - Robert Knight</title>
		<meta name='description' content='A body mass index (BMI) calculator built with AngularJS.'>

		<link href='//cdn.jsdelivr.net/bootswatch/3.3.1.2/lumen/bootstrap.min.css' rel='stylesheet'>

		<style>
			h1 {
				font-weight: bold;
			}
			ins {
				color: red;
			}
			blockquote p {
				font-size: 0.75em;
			}
			#bmi-box {
				text-align: center;
			}
			#bmi {
				font-weight: bold;
			}
			#chart {
				margin-top: 25px;
			}
			.chart-item {
				display: inline-block;
				padding: 10px;
				margin-right: -4px;
				border: 1px solid black;
				width: 25%;
				text-align: center;
				font-size: 0.85em;
			}
			.word-break {
				display: inline-block;
			}
			.healthy {
				background-color: #3BB878;
				color: white;
			}
			.unhealthy {
				background-color: #F26D7D;
				color: white;
			}
		</style>
	</head>
	<body>
		<header class='text-center'>
			<h1><abbr title='Body Mass Index'>BMI</abbr> Calculator</h1>
			<!-- <ins>Work in progress. I'm still learning Angular.</ins> -->
			<h5>built with AngularJS</h5>
			<h6>by Robert Knight</h6>
		</header>

		<div class='container'>
			<blockquote>
				<p>Body mass index (BMI) is a formula that uses weight and height to estimate body fat. Excess body fat is related to serious health conditions. For most people, BMI provides a reasonable estimate of body fat.</p>
				<footer><cite><a href='http://www.mayoclinic.org/bmi-calculator/itt-20084938'>Mayo Clinic</a></cite></footer>
			</blockquote>
			<div ng-controller='bmiController'>
				<form class='form-horizontal' role='form'>
					<div class='form-group'>
						<label for='height_feet' class='col-sm-5 control-label'>Height:</label>
						<div class='col-sm-2'>
							<input type='number' class='form-control' id='height_feet' ng-model='english.height_feet' placeholder='Feet'>
						</div>
					</div>
					<div class='form-group'>
						<div class='col-sm-5'></div>
						<div class='col-sm-2'>
							<input type='number' class='form-control' id='height_inches' ng-model='english.height_inches' placeholder='Inches'>
						</div>
					</div>
					<div class='form-group'>
						<label for='english_weight' class='col-sm-5 control-label'>Weight:</label>
						<div class='col-sm-2'>
							<input type='number' class='form-control' id='english_weight' ng-model='english.weight' placeholder='Pounds'>
						</div>
					</div>
					<div id='bmi-box' ng-show=1 ng-cloak><h3 id='bmi'>{{ english.bmi() }}</h3></div>
				</form>
				<div id='chart'>
					<span class='chart-item' ng-class='{ unhealthy : english.bmi() >= 0.1 && english.bmi() < 18.5 }'>Under<span class='word-break'>weight</span><br><small>less than 18.5</small></span>
					<span class='chart-item' ng-class='{ healthy : english.bmi() >= 18.5 && english.bmi() < 25 }'>Normal<br><small>18.5 to 24.9</small></span>
					<span class='chart-item' ng-class='{ unhealthy : english.bmi() >= 25 && english.bmi() < 30 }'>Over<span class='word-break'>weight</span><br><small>25 to 29.9</small></span>
					<span class='chart-item' ng-class='{ unhealthy : english.bmi() >= 30 }'>Obese<br><small>30 or greater</small></span>
				</div>
			</div>
		</div>

		<!-- AngularJS -->
		<script src='//cdn.jsdelivr.net/angular.all/1.3.0-beta.14/angular-all.min.js'></script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js'></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src='//cdn.jsdelivr.net/bootstrap/3.3.1/js/bootstrap.min.js'></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src='//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js'></script>
			<script src='//cdn.jsdelivr.net/respond/1.4.2/respond.min.js'></script>
		<![endif]-->

		<script>
		angular.module('bodyMassIndexApp', [])
			.controller('bmiController', ['$scope', 'bmiService', function($scope, bmiService) {
				$scope.english = {
					bmi: function() {
						var height = this.height_feet * 12 + this.height_inches; // get height in inches
						return bmiService.getEnglishBMI(height, this.weight);
					}
				};
				$scope.metric = {
					bmi: function(height, mass) {
						var height = height / 100; // get height in meters
						return bmiService.getMetricBMI(height, mass);
					}
				};
			}])
			.directive('someDirective', ['$scope', function($scope) {

			}])
			.factory('bmiService', ['numberFilter', function(numberFilter) {
				return {
					getEnglishBMI: function(height, weight) {
						var bmi = weight / (height * height) * 703;
						return numberFilter(bmi, 1);
					},
					getMetricBMI: function(height, mass) {
						var bmi = mass / (height * height);
						return numberFilter(bmi, 1);
					}
				};
			}]);
		</script>
	</body>
</html>