@body_copy_web_type: 'Arial';
@header_copy_print_type1: 'Oleo Script Swash Caps';
@header_copy_print_type2: 'Helvetica';

body {
	text-rendering: optimizeLegibility;

	#site_box {
		padding: 0 42px;
	}
}

#title_block {
	margin-bottom: -10px;

	h1, h4 {
		display: inline-block;
	}

	h1 {
		font-family: @header_copy_print_type1;
		font-weight: 700;
		margin-right: 10px;
	}

	h4 {
		font-family: @header_copy_print_type2;
		font-weight: bold;
	}

	h4 {
		width: 110px;
	}
}

form {
	#search_button, #remove_button {
		float: right;
	}

	input {
		text-rendering: optimizeLegibility;
		font-family: @body_copy_web_type;
		margin-bottom: -16px;
	}
}

#video_box {
	margin-top: 5px;

	.vimeo_video {
		display: inline-block;
		margin-right: 5px;
	}

	&:last-child {
		margin-bottom: 10px;
	}
}

a, a:visited, a:hover, a:focus, a:active,  {
	color: #000;
	outline: none;
}